.header__logo {
  max-width: 142px;
  object-fit: contain;
  margin-bottom: 41px;
}
@media screen and (max-width: 780px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    max-width: 103px;
  }
}
