.footer {
  margin: 66px 200px 60px;
}

@media screen and (max-width: 980px) {
  .footer {
    margin: 48px 100px 36px;
  }
}
@media screen and (max-width: 780px) {
  .footer {
    margin: 48px 50px 36px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    margin: 48px 19px 36px;
  }
}
