.card__like {
  /* grid-area: like; */
  width: 22px;
  height: 19px;
  justify-self: end;
  margin: 0 0 3px 0;
  align-self: center;
  border: none;
  background-image: url(../../../images/icon/buttonLike.svg);
  background-color: #fff;
  padding: 0;
}
.card__like:hover {
  opacity: 0.5;
}
