.profile__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "description description";
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 16px;
  align-items: center;
  align-content: center;
  /* vertical-align: baseline; */
}
@media screen and (max-width: 730px) {
  .profile__info {
    column-gap: 10px;
    row-gap: 8px;
  }
}
