.popup__submit {
  margin: 18px auto 20px;
  padding: 0;
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #000;
  /* background-color: #000; */
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  opacity: 0.2;
  cursor: default;
}

.popup__submit:hover {
  opacity: 0.2;
}

@media screen and (max-width: 500px) {
  .popup__submit {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px auto 20px;
  }
}
